body{
/*background:#673AB7 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
  overflow:hidden;
}

.sidebar-nav-contain{
  padding-left:30px;
  border-right:1px #E0E0E0 solid;
  height:100vh;
  overflow:hidden;
}
@media (max-width: 768px){
  .dis-collapse{
    display:none;
  }
  .dis-collapse.not-collapse {
    display:block;
    position:fixed;
    z-index:19;
    background:white;
    width:200px;
    height:100%;
    top:50px;
  }  
}


.content{
  height:100vh;
  overflow-y:scroll;
  overflow-x:hidden;
	padding:20px;
}

.me{
	float:left;
	margin:20px;
}
.me img{
	width:200px;
	border-radius:200px;
}
.navbar-toggle{
  position:absolute;
  left:20px;
  z-index:20;
}
.navbar-toggle .icon-bar{
  background:black;
}
.paper-hover:hover{

  -webkit-animation:paper_hover .2s linear 0s ;
  -webkit-animation-fill-mode:forwards;
  -moz-animation:paper_hover .2s linear 0s ;
  -moz-animation-fill-mode:forwards;
}
.side-nav{
  list-style-type:none;
  padding:0;
  margin:0;
}
.side-nav > li > a{
  display:block;
  padding:10px;
  font-size:14px;
}
.side-nav > li > a:hover, .side-nav > li > a.active{
  text-decoration:none;
  background:#7500B0;
  color:white;
}

.side-nav a{
  cursor:pointer;
}
.btn:hover{
  -webkit-animation:paper_hover .2s linear 0s ;
  -webkit-animation-fill-mode:forwards;
  -moz-animation:paper_hover .2s linear 0s ;
  -moz-animation-fill-mode:forwards;
}

@-webkit-keyframes paper_hover { from {box-shadow: 0 0 0 #919191;} to {box-shadow: 2px 2px 4px #919191;}}
@-moz-keyframes paper_hover { from {box-shadow: 0 0 0 #919191;} to {box-shadow: 2px 2px 4px #919191;}}
@keyframes paper_hover { from {box-shadow: 0 0 0 #919191;} to {box-shadow: 2px 2px 4px #919191;}}
